::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #024334;
}

.item-list {
  height: 28vh;
  overflow: auto;
  text-align: left;
  width: 50%;
  margin: 0;
}
